@font-face {
    font-family: brandFont;
    src: url(../fonts/Amethyst.ttf) format('truetype');
}
a {
	outline: 0;
}
#header-top {
	background: url("../images/header-bg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	line-height: 100vh;
	text-align: center;
}
.content-one {
	background-color: #16a085;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}
.content-one .header-image {
	max-width: 20vh;
	min-width: 100px;
	margin: 0 auto;
}
.content-one h1 {
	color: #ecf0f1;
	font-size: 8vh;
	text-align: center;
}
.content-one .container {
	height: calc(100vh - 100px);
	margin-top: 100px;
}
.content-two {
	background-color: #1abc9c;
	height: 100vh;
	line-height: 100vh;
	text-align: center;
}
.content-three {
	background-color: #2ecc71;
	height: 100vh;
	line-height: 100vh;
	text-align: center;
}
.header-text h1 {
	color: #ecf0f1;
	font-family: 'Roboto', sans-serif;
	font-size: 8vh;
	margin: 0;
}
.header-text h2 {
	color: #2980b9;
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	float: left;
}
.revolving-text {
	display: none;
}
.center-text {
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
}

.navbar-default {
	background-color: #1f1f2e;
	border: 0;
	border-radius: 0px;
	margin: 0;
}
.navbar-default .navbar-brand {
	color: white;
	font-family: brandFont;
	font-size: 30px;
}
.navbar-default .navbar-brand > img {
	margin-top: -9px;
}
.navbar-default .navbar-brand:hover {
	color: white;
}
.navbar-default .navbar-brand:focus {
	color: white;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
	border-color: #8e44ad;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #8e44ad;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ecdbff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecdbff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecdbff;
		background-color: #8e44ad;
	}
}